.userBadge {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}

.userAvatar {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    background-color: var(--color-bg-light);
    font-size: 0.8rem;
    color: var(--color-text-muted);

    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userName {
    font-size: 0.7rem;
    color: var(--color-text-primary);
}

.userPlan {
    font-size: 0.7rem;
    color: var(--color-text-muted);
}

.exitButton {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-btn-bg-dark-hover);
    cursor: pointer;
    color: var(--color-text-primary);
}