.authForm {
    width: 55%;
    text-align: center;
    background-color: var(--color-bg-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formWrapper {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.formBlock {
    width: 100%;
}

.formWrapper h2{
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: 'DM Serif Diaplay', Georgia, serif;
}

.formWrapper p {
    width: 100%;
    text-align: left;
    color: var(--color-text-muted);
    margin-bottom: 2rem;
    font-size: 1rem;
}

.formWrapper span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--color-text-muted);
}

.formWrapper span button{
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
